absl-py
alembic
annotated-types
astunparse
av
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
cryptography
ctranslate2
fanstatic
faster-whisper
filelock
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
flatbuffers
fsspec
gast
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud
google-cloud-core
google-cloud-translate
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h5py
hf-xet
httplib2
huggingface-hub
humanfriendly
idna
itsdangerous
Jinja2
jiwer
js
keras
libclang
libretranslatepy
lxml
Mako
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
namex
networkx
numpy
onnxruntime
opt_einsum
optree
packaging
pandas
pip
pocketsphinx
proto-plus
protobuf
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydub
Pygments
PyMySQL
pyparsing
pyreadline3
python-dateutil
python-dotenv
pytz
PyYAML
RapidFuzz
regex
requests
rich
rsa
safetensors
sentencepiece
setuptools
six
sounddevice
soundfile
soupsieve
SpeechRecognition
SQLAlchemy
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
tiktoken
tokenizers
torch
tqdm
transformers
translate
typing_extensions
typing-inspection
tzdata
uritemplate
urllib3
WebOb
Werkzeug
wheel
wrapt
gunicorn
